*{
  margin:0
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app_header{
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}
.app_signup{
  display: flex;
  flex-direction: column;
}